[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-extensions = "*"
djoser = "*"
django-cors-headers = "*"
django-on-heroku = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
